body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin:0;
    font-size: 400%;
}
header{
    margin:0;
    background-color: #069292;
    padding:15px;
    text-align: center;
    color:#d0d0d0;
}

a{
    text-decoration: none;
    color:#adadad; 
}

a:hover{
    text-decoration: underline;
    transition:0.5s;
    color:#d0d0d0;
}

form{
    width:90%;
    margin:40px auto; 
}

label{
    font-size:150%;
    margin:15px 0; 
}
input{
    border:none;
    padding:0 15px;
    background-color: #e6e6e6;
    border-radius:5px;
    margin:0 0 20px 0; 
    width:100%;
    font-size: 300%;
    height:80px;
}

button{
    width:350px;
    height: 80px;
    font-size: 300%;
    color:#e6e6e6;
    margin:0 auto;
    border:none;
    border-radius:5px;
    background-color: #005656;
}

button:hover{
    cursor:pointer;
    transition: 0.4s;
    background-color: #069292;
}

